{% extends "base.html" %}
{% block title %}ჩვენ შესახებ {% endblock %}

{% block content %}

<div class="container mx-auto p-4">
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4 text-gray-800">ჩვენ შესახებ</h2>

        <div class="flex items-center justify-center mb-6">
            <img src="{{ url_for('static', filename='../static/images/logo.png') }}" alt="Company Logo"
                class="h-20 w-auto">
        </div>

        <p class="text-gray-700 leading-relaxed">
            ჯგუფი "ხელოსნების შავი სია - Blacklist of Craftsmen" არის დამოუკიდებელი, მიუკერძოებული ჯგუფი, რომელშიც
            თავმოყრილია ყველა არაპროფესიონალის, თაღლითის, უპასუხისმგებლო იურიდიული თუ ფიზიკური პირის შესახებ ინფორმაცია,
            რომელიც
            დაკავშირებულია მშენებლობა-რემონტთან და ასევე ინტერიერის მომწყობი პირების და აქსესუარების რეალიზატორებთან.
            ინფორმაციას ვაგროვებთ ასევე ყალბ რეკომენდატორებზე, თაღლით დამლაგებლებზე.
        </p>

        <p class="text-gray-700 leading-relaxed mt-4">
            ჩვენი ჯგუფი დაგეხმარებათ თავი აარიდოთ თაღლითებისგან მოყენებულ ზარალს - დიდ, გაუთვალისწინებელ ხარჯებს და
            ასევე მიიღოთ რჩევები - გამოიჩინოთ სიფრთხილე რეკომენდატორების გადამოწმებაში, დაგეხმარებით დროულად მოგაწოდოთ
            თქვენთვის უცნობი, საფრთხის შემცველი ადამიანების შესახებ ინფორმაცია.
        </p>

        <p class="text-gray-700 landing-relaxed mt-4">
            გთხოვთ თქვენს მიერ დადებულ პოსტში მაქსიმალურად დეტალურად ასახოთ ინფორმაცია - თაღლითის სახელის, გვარის,
            საკონტაქტო ინფორმაციის მითითებით და სასურველია ფოტოსაც თუ გამოაქვეყნებთ.
            ერთად ვებრძოლოთ თაღლითებს ✊
        </p>

        <p class="text-gray-700 landing-relaxed mt-4">
            ასევე მოვისმენთ, როგორც დაზარალებულის, ასევე მეორე მხარის დაცვით არგუმენტებსაც. (რათქმა უნდა, თუ სურვილი
            ექნება)
        </p>

        <p class="text-gray-700 leading-relaxed mt-4">
            გამომდინარე იქიდან, რომ ეს ჯგუფი მხოლოდ საინფორმაციო და საქველმოქმედო ხასიათს ატარებს, ჯგუფის
            ადმინისტრაცია პასუხს არ აგებს პოსტებში გადმოცემული ინფორმაციის უტყუარობაზე, თუმცა მოდერაციამდე
            მაქსიმალურად ხორციელდება ინფორმაციის გადამოწმება.
        </p>

        <!-- <div class="mt-6">
            <h3 class="text-xl font-semibold mb-2 text-gray-800">Our Mission</h3>
            <p class="text-gray-700 leading-relaxed">
                ასევე მოვისმენთ, როგორც დაზარალებულის, ასევე მეორე მხარის დაცვით არგუმენტებსაც. (რათქმა უნდა, თუ სურვილი
                ექნება)
            </p>
        </div> -->

        <!-- <div class="mt-6">
            <h3 class="text-xl font-semibold mb-2 text-gray-800">Our Vision</h3>
            <p class="text-gray-700 leading-relaxed">
                გამომდინარე იქიდან, რომ ეს ჯგუფი მხოლოდ საინფორმაციო და საქველმოქმედო ხასიათს ატარებს, ჯგუფის
                ადმინისტრაცია პასუხს არ აგებს პოსტებში გადმოცემული ინფორმაციის უტყუარობაზე, თუმცა მოდერაციამდე
                მაქსიმალურად ხორციელდება ინფორმაციის გადამოწმება.
            </p>
        </div> -->
    </div>
</div>

{% endblock %}