<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ხელოსნების შავი სია{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/output.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/responsive.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header class="header">
        <nav>
            <div class="logo">
                <a href="/"><img class="main_logo" src="../static/images/logo.png" alt="ლოგო"> ხელოსნების შავი სია</a>
            </div>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="menu">
                {% for item in navigation_items %}
                <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                {% endfor %}

                {% if not session.username %}
                <li><a href="{{ url_for('login') }}">შესვლა</a></li>
                <li><a href="{{ url_for('register') }}">რეგისტრაცია</a></li>
                {% else %}
                <li><a href="{{ url_for('logout') }}">გამოსვლა</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages space-y-4">
        {% for category, message in messages %}
        <div
            class="alert alert-{{ category }} p-4 rounded shadow-md 
            {% if category == 'success' %} bg-green-100 text-green-800 {% elif category == 'danger' %} bg-red-100 text-red-800 {% elif category == 'warning' %} bg-yellow-100 text-yellow-800 {% else %} bg-blue-100 text-blue-800 {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    <!-- content -->
    {% endblock %}

    <!-- footer -->
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>