{% extends "base.html" %}
{% block content %}
<div class="container mx-auto my-8">
    <h2 class="text-3xl font-bold text-center mb-8">პოსტის რედაქტირება</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            {{ form.name.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.name(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            {{ form.surname.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.surname(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            {{ form.title.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.title(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            {{ form.content.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.content(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            {{ form.submit(class="bg-blue-500 hover:bg-green-700 text-white font-bold py-2 w-100 px-4 rounded
            focus:outline-none focus:shadow-outline") }}
        </div>
    </form>
</div>
{% endblock %}