{% extends "base.html" %}

{% block content %}

<div class="container mx-auto p-4">
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
            <thead>
                <tr class="bg-gray-200 text-gray-700">
                    <th class="px-4 py-2 border-b text-left">სახელი</th>
                    <th class="px-4 py-2 border-b text-left">გვარი</th>
                    <th class="px-4 py-2 border-b text-left">სათაური</th>
                    <th class="px-4 py-2 border-b text-left">აღწერა</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr class="hover:bg-gray-100">
                    <td class="px-4 py-2 border-b">{{ post.name }}</td>
                    <td class="px-4 py-2 border-b">{{ post.surname }}</td>
                    <td class="px-4 py-2 border-b">{{ post.title }}</td>
                    <td class="px-4 py-2 border-b">{{ post.content }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}